<!DOCTYPE html>
<html>
<head>
    <title>Update Movie</title>
</head>
<body>
    <h1>Update Movie</h1>
    <form action="/update" method="post">
        <label for="id">Movie ID:</label>
        <input type="text" id="id" name="id" required>
        <label for="title">New Title:</label>
        <input type="text" id="title" name="title">
        <label for="title">New Year:</label>
        <input type="text" id="year" name="year">
        <label for="title">New Genre:</label>
        <input type="text" id="genre" name="genre">
        <label for="title">New Price:</label>
        <input type="text" id="price" name="price">
        <input type="submit" value="Update">
    </form>
</body>
</html>
